<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employees</title>
  <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>
<h1>An overview of our employees</h1>
<table>
  <tr
          th:each="employees : ${employees}">
    <td th:text="${employees.getId()}"></td>
    <td th:text="${employees.getEmployee_name()}"></td>
    <td th:text="${employees.getJob()}"></td>
    <td th:text="${employees.getManager()}"></td>
    <td th:text="${employees.getHiredate()}"></td>
    <td th:text="${employees.getSalary()}"></td>
    <td th:text="${employees.getCommission()}"></td>
    <td th:text="${employees.getDepartment_number()}"></td>
  </tr>
</table>

</body>
</html>